@font-face{
    font-family: norse-bold;
    src:url("./fonts/Norse-Bold.otf");
}

body{
    padding:0;
    margin:0;
}

.container{
    display:flex;
    height:100vh;
}

.left{
    min-width:400px;
    background-image:url("./images/trees.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    display:flex;
    flex-direction:column;
}

img{
    height:130px;
}

.logo{
    position:relative;
    top:200px;
    background-color:rgba(0,0,0,0.22);
    font-family:norse-bold;
    font-size:1.5rem;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.header{
    margin-top:auto;
    font-size:12px;
    color:white;
    text-align:center;
}

.right{
    background-color:whitesmoke;
    width:100vw;
    display:flex;
    flex-direction:column;
}

.top{
    background-color:whitesmoke;
    height:330px;
}

.text{
    margin:0;
    width:640px;
    padding:1.5rem;
    font-size:1.5rem;
    font-weight:700;
    position:relative;
    top:100px;
}

form{
    display:flex;
    background-color:white;
}

ul{
    margin:0;
    padding:0;
    max-width:250px;
}

li{
    padding:1.5rem;
    font-size:16px;
    font-family:sans-serif;
    list-style:none;
}

input:focus{
    box-shadow: 1px 1px 1px blue;
    border:1px solid blue;
    outline:blue;
}
  
#password:invalid, #confirm:invalid{
    border:1px solid red;
}

.caption, .footer{
    margin:0;
    padding:1.5rem;
}

.caption{
    background-color:white;
}

.footer{
    font-weight:900;
}

button{
    width:150px;
    height:40px;
    color:white;
    border:none;
    border-radius:12px;
    background-color:#596D48;
}
